
<div class="loader-container">
    <mat-progress-bar *ngIf="loaderService.isLoading | async" mode="indeterminate"></mat-progress-bar>
</div>
<div class="spinner-container" *ngIf="loaderService.isLoading | async">
    <mat-spinner  style="top: 50%;left: 50%;"></mat-spinner>
</div>
<mat-toolbar class="shadow">
    <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSidebarFunc()"><mat-icon>menu</mat-icon></button>
   
    <div class="row mr-2 ml-auto">
        <ul>
            <li>
                <button mat-button [matMenuTriggerFor]="menu" class="user-btn">
                  <mat-icon class="avatar-icon">account_circle</mat-icon>
                  <span class="user-name">{{userData?.Name}}</span>
                  <mat-icon class="chevron-icon">keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onLogOut()">
                        <mat-icon>exit_to_app</mat-icon>Logout
                    </button>
                </mat-menu>
            </li>
        </ul>
    </div>
    </mat-toolbar-row>
</mat-toolbar>