.profile-img{
    border-radius: 50%;
}
.font-sofia{
    font-family: "Sofia", sans-serif;
} 
.font-Varela{
    font-family: 'Varela Round', sans-serif;
} 
.font-Messiri{
    font-family: 'El Messiri', sans-serif;
}