

<div class="container">
    <div class="mx-auto">
        <h2 mat-dialog-title>{{operation}} Address</h2>
        <div class="row">
            <!-- <button mat-button mat-dialog-close class="pull-right">Cancel</button> -->
            <div class="col-sm-8">
                    <form [formGroup]="addressForm" (ngSubmit)="onSubmitAddress()" novalidate>
                        <div class="form-group">
                            <label for="CountryName">Country Name: </label>
                            <input id="CountryName" class="form-control" type="text" formControlName="CountryName">
                        </div>
                        <div class="form-group">
                            <label for="State">State: </label>
                            <input id="State" class="form-control" type="text" formControlName="State">
                        </div>
                        <div class="form-group">
                            <label for="BankName">BankName: </label>
                            <input id="BankName" class="form-control" type="text" formControlName="BankName">
                        </div>
                        <div class="form-group">
                            <label for="Zip">Zip: </label>
                            <input id="Zip" class="form-control" type="text" formControlName="Zip">
                        </div>
                        <div class="form-group">
                            <label for="Location">Location: </label>
                            <input id="Location" class="form-control" type="text" formControlName="Location">
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-primary" mat-dialog-close>Submit</button>
                        </div>
                        
                    </form>
            </div>
        </div>
    </div>
</div>